@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas: "header   header   header" "exercise routine  calendar" "exercise routine  calendar" "exercise routine  calendar";
  background: white;
  width: 100vw;
  height: 100vh;
}

/*exercises style*/
.exercises {
  width: 20vw;
  height: 75vh;
  background: white;
  overflow-y: scroll;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: exercise;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 13px;
  background: #ffffff;
  -webkit-box-shadow: inset 7px 7px 14px #dbdbdb, inset -7px -7px 14px #ffffff;
          box-shadow: inset 7px 7px 14px #dbdbdb, inset -7px -7px 14px #ffffff;
  padding: 20px;
  margin-left: 20px;
}

/*style scroll exercises*/
#exercises::-webkit-scrollbar-track {
  background-color: #ebe9e9;
}

#exercises::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
  height: 10px;
}

#exercises::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #999999;
}

.exercise-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  border-radius: 9px;
  background: #ffffff;
  -webkit-box-shadow: 7px 7px 6px #d6d6d6, -7px -7px 6px #ffffff;
          box-shadow: 7px 7px 6px #d6d6d6, -7px -7px 6px #ffffff;
}

.img-exercise {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.container-img {
  width: 50%;
  height: 100px;
  border-radius: 16px;
  background: #ede7e7;
}

.container-text {
  width: 50%;
  height: 100%;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

/*routine style*/
.checkTraining {
  width: 20px;
  height: 20px;
  margin: 5px;
}

.label-checkbox {
  font-family: "Open Sans", "Noto Sans", sans-serif;
}

.routine {
  width: 45vw;
  height: 70vh;
  background: white;
  overflow-y: scroll;
  border-radius: 13px;
  background: #ffffff;
  -webkit-box-shadow: inset 7px 7px 14px #dbdbdb, inset -7px -7px 14px #ffffff;
          box-shadow: inset 7px 7px 14px #dbdbdb, inset -7px -7px 14px #ffffff;
  padding: 20px;
  padding-top: 15px;
  margin-top: 10px;
}

.routine-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  border-radius: 9px;
  background: #ffffff;
  -webkit-box-shadow: 7px 7px 6px #d6d6d6, -7px -7px 6px #ffffff;
          box-shadow: 7px 7px 6px #d6d6d6, -7px -7px 6px #ffffff;
}

.container-img-rou {
  width: 30%;
  height: 100px;
  border-radius: 15px;
  background: #ede7e7;
  border: none;
}

.container-text-rou {
  width: 70%;
  height: 100%;
  border-radius: 15px;
  margin-left: 20px;
}

.title-rou {
  margin-top: 10px;
}

.reps-rou,
.series-rou {
  color: dimgray;
}

/*button routine*/
.btn-save {
  width: 40px;
  height: 20px;
  border-radius: 5px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  -webkit-box-shadow: 6px 6px 11px #d9d9d9, -6px -6px 11px #ffffff;
          box-shadow: 6px 6px 11px #d9d9d9, -6px -6px 11px #ffffff;
  margin: 10px;
  font-family: "Open Sans", "Noto Sans", sans-serif;
}

/*routine scroll style*/
.routine::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

.routine::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
  height: 10px;
}

.routine::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #999999;
}

.wrapper-routine {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: routine;
  margin: 20px;
}

/*calendar*/
.calendar {
  width: 120px;
  height: 80vh;
  overflow-y: scroll;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: calendar;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-cal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-wrapper {
  width: 100px;
  padding: 20px;
  border-radius: 13px;
  background: #ffffff;
  -webkit-box-shadow: inset 7px 7px 14px #dbdbdb, inset -7px -7px 14px #ffffff;
          box-shadow: inset 7px 7px 14px #dbdbdb, inset -7px -7px 14px #ffffff;
}

.table {
  width: 60px;
  padding: 15px;
  border-radius: 9px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  -webkit-box-shadow: 9px 9px 18px #d9d9d9, -9px -9px 18px #ffffff;
          box-shadow: 9px 9px 18px #d9d9d9, -9px -9px 18px #ffffff;
}

.table-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  width: 70px;
  padding: 5px;
  border-radius: 9px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  -webkit-box-shadow: 5px 5px 5px #e3e3e3, -5px -5px 5px #ffffff;
          box-shadow: 5px 5px 5px #e3e3e3, -5px -5px 5px #ffffff;
}

.day-display {
  margin-left: 5px;
  margin-right: 5px;
}

.icon {
  font-size: 30px;
}

/*routiner scroll style*/
.calendar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

.calendar::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
  height: 10px;
}

.calendar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #999999;
}

.title {
  display: block-inline;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  text-align: center;
}
/*# sourceMappingURL=App.css.map */